.Latest h5{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.latest-item-single{
    width: 28%;
    height: 350px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
}
.latest-item-single:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition: 500ms;
}

.item-image{
    height: 200px;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

@media only screen and (max-width: 550px) {
    .latest-item-single{
        width: 50%;
    }
}

@media only screen and (max-width: 400px) {
    .latest-item-single{
        width: 100%;
    }
}