.home-search-region{
    margin-top: 15px;
}

.searchrecipe-box{
    padding-left: 1vh;
    /* padding: 5vh; */
}

.searchrecipe-box input, .searchrecipe-box button, .searchrecipe-box p{
    /* padding: 1vh; */
    /* border: solid red; */
    margin: 8px;
}

.searchrecipe-box input{
    height: 40px;
    width: 70%;
    border: none;
    border-radius: 5px;
    padding: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

@media only screen and (max-width: 730px) {
    .searchrecipe-box input{
        height: 35px;
        width: 50%;
    }

    .searchrecipe-box input, .searchrecipe-box button{
        margin: 4px;
    }
}