.SearchResult{
    min-height: 100vh;
}

.not-found-search-result{
    text-align: center;
    margin-top: 15vh;
}
.not-found-search-result img{
    height: 30vh;
    width: 30vh;
    border-radius: 15vh;
    margin-top: 30px;
}

.mainarea-searchresult{
    padding: 2vh;
}

.searchresult-display{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 1.5vh;
    padding: 0.8vh;
}

.searchresult-single{
    border-style: solid;
    border-width: thin;
    border-color: grey;
    border-radius: 5px;
    margin: 15px 0;
    padding: 0 2vh;
    /* border: solid green; */
}

.single-result-section{
    /* max-height: 300px; */
    /* border: solid blue; */
}
.single-result-section div{
    /* border: solid red; */
}
.section-1{

}
.section-11{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-style: solid;
    border-width: thin;
    border-color: grey;
    border-top: none;
    border-left: none;
    border-bottom: none;
}
.section-11 img{
    border-radius: 5px;
    height: 70%;
    width: 90%;
}
.section-11 button{
    margin-top: 5px;
    width: 90%;
}
.section-12{
    padding: 10px;
}

.section-2{}
.section-21{
    border-style: solid;
    border-width: thin;
    border-color: grey;
    border-left: none;
    border-right: none;
    text-align: center;
    min-height: 50px;
}
.section-22{
    border-style: solid;
    border-width: thin;
    border-color: grey;
    border-right: none;
    min-height: 50px;
}

.section-3{}
.section-31{
    min-height: 50px;
}
.section-32{
    border-style: solid;
    border-width: thin;
    border-color: grey;
    border-top: none;
    border-right: none;
    border-bottom: none;
    min-height: 50px;
}
@media (max-width: 575px) {
    .section-11{
        border-style: solid;
        border-width: thin;
        border-color: grey;
        border-top: none;
        border-left: none;
        border-right: none;
    }
    .section-2{
        font-size: 14px;
    }
    .section-3{
        font-size: 14px;
    }

    .section-21{
        border-style: solid;
        border-width: thin;
        border-color: grey;
        border-left: none;
        border-right: none;
    }
    .section-22{
        border-style: solid;
        border-width: thin;
        border-color: grey;
        border-left: none;
        border-right: none;
        border-top: none;
    }
    .section-32{
        border-style: solid;
        border-width: thin;
        border-color: grey;
        border-left: none;
        border-right: none;
        border-bottom: none;
        
    }
  }